

.contact-button {
    background-color: #fddb3a;
    border: #52575d solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.contact-button:hover {
    background-color: #52575d;
}