/* -start of all pages in the website- */
* {
    /* these things makes the border spaces disappear */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* defining the font */
li, a, button, p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    list-style-type: none;
}

main {
    /**/
}

/* -end of all pages on the website- */

/* -start home page- */
img {
    width: 300px;
    object-fit: contain;
    object-position: center;
    border-radius: 1000px 2000px;
}

p {
    text-align: justify;
}

.my-photo {
    float: left;
    width: 22%;
}

.text-about {
    float: left;
    width: 40%;
}
/* -end of home page- */

/* -start of projects page content- */
.each-project-context {
    width: 300px;
    height: 300px;
    object-fit: contain;
    object-position: center;
    border-width: 2px;
    border-style: solid;
    border-color: red;
    /*paragraph should be in the center for this*/
}
/* -end of projects page- */