
.footerbar ul{
    position: static;
    margin: 0;
    padding: 0;
    border: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    list-style-type: none;
    text-align: center;
    overflow: hidden;
    padding: 10px;
}

.footerbar li{
    display: inline;
    float: center;
}

.footerbar a{
    text-decoration: none;
    color: white;
    padding: 0px;
}