header{
    display: flex; /*fixed poosition even though it is scrolled down*/
    justify-content: flex-end;
    align-items: center;
    background-color: red;
    padding: 10px 10%;
    width: 100%;
}

span{
    margin-right: auto;
}

.logo-name a{
    color: white;
    font-weight: 800;
}

.navbar a{
    color: white;
}


.navbar li{
    display: inline-block;
    padding: 0 20px;
}